.register{
    height: 460px;    
    background: linear-gradient(90deg, rgba(23,154,23,0.6931547619047619) 0%,  rgba(255,255,255,0) 100%),url('/src/assets/loginBgPic.png');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.loginSuggest{
    width: fit-content;
    margin: 0 auto;
}

.loginSuggest{
    width: fit-content;
    margin: 0 auto;
}

.loginSuggest a{
    text-decoration: none;
    color: rgb(23 154 23);
    font-weight: bold;
    font-size: 18px;
}

.auth-container-img-imageUpload-Image{
    width: 70%;
    height: 70%;
    align-self: center;
}

.registerImg{
    width: 50%;
}

.auth-container-img-imageUpload{
    align-self: center;
    width: 80%;
    padding-bottom: 10px;
}

.registerBtn{
    background: gold;
    padding: 3px;
}

.registerBtn:hover{
    color: white;
    cursor: pointer;
    background: rgb(255, 221, 29);
}


.auth-container-img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.auth-container-img-imageUpload-title{    
    margin: 10px;
    display: grid;
    text-align: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 22px;
    text-shadow: -3px 2px 4px black;
}

