.Main-Cars{
    position: relative;
    top: -26px;
    padding-top: 80px;
    padding-bottom: 50px;
    background: white;
}

.Cars{
    margin: 0 auto;
    max-width: 1290px;
    display: flex;    
    justify-content: space-between;
}

.Cars-CarsList-suspense-fallback{
    position: relative;
    top: -26px;
    left: -400px;
    padding-top: 80px;
    padding-bottom: 50px;
    color: white;    
    background: rgb(23 154 23);
    font-size: 30px;    
    border-radius: 50px;
}

