.SearchMenu{    
    width: 20%;
    border: 2px solid rgb(23 154 23);
    padding: 20px;
    border-radius: 12px;
}

.SearchMenu-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.SearchMenu-form label{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(23 154 23);
    margin-bottom: 20px;
    font-weight: bold;
}

.SearchMenu-form label:nth-child(8){
    margin-bottom: 40px;
}

.SearchMenu-form label select{
    border: none;
}


.SearchMenu-form input{
    border: none;
}

.price{
    padding: 3px;
}