.SearchMenu{    
    width: 20%;
    border: 2px solid rgb(23 154 23);
    padding: 20px;
    border-radius: 12px;
}

.SearchMenu-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.SearchMenu-form label{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(23 154 23);
    margin-bottom: 20px;
}

.SearchMenu-form label:nth-child(6){
    margin-bottom: 40px;
}

.SearchMenu-form label select{
    border: none;
}

.SearchMenu-form-submitBtn{
    border: none;
    background: rgb(23 154 23);
    border-radius: 12px;
    width: fit-content;
    padding:5px 20px;
    color: white;
    font-weight: bold;
    align-self: center;
    font-size: 18px;
}

.SearchMenu-form-submitBtn:hover{
    cursor: pointer;
    color: gold;
    background: rgb(61 175 61);
}

.SearchMenu-form input{
    border: none;
}