.ProfileInfo-wrapper{
    width: 20%;
    border: 2px solid rgb(23 154 23);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.ProfileInfo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CreateNewCar-Link{
    align-self: flex-end;    
}

.CreateNewCar-Link button{
    border: none;
    padding:10px 20px;
    background: rgb(23 154 23);
    color: white;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
}

.CreateNewCar-Link button:hover{
    cursor: pointer;
    color: gold;
    background: rgba(168, 172, 117, 0.859);
}

.ProfileInfo-photo-img{
    width: 200px;
    height: 200px;
}

.labelProfilInfo{    
    font-weight: bolder;
    font-size: 20px;    
}

.labelProfilInfo p{
    font-weight: bold;
    font-size: 18px;    
    color: rgb(23 154 23);
}