@import 'https://use.fontawesome.com/releases/v5.15.2/css/all.css';

html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(23 154 23);
}

code {
  font-family: 'Courier New', monospace;
}
